#### We are going to load in the data from the Iowa training set:
#### https://www.kaggle.com/c/house-prices-advanced-regression-techniques
#### and build a model to predict the house prices for data from Iowa using Random Forest.

## Data loading and descriptive statistics

In [1]:
import pandas as pd
# from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import Imputer
from sklearn.pipeline import make_pipeline

In [26]:
iowa_file_path = "C:\\Users\\Bish\\Documents\\Data Analytics\\Kaggle\\Housing Market\\train.csv"
iowa = pd.read_csv(iowa_file_path)

#print(iowa.columns)
#print(iowa.head())
#print(iowa.describe())

In [5]:
# Filtered Data with no missing values

myPipeline = make_pipeline(Imputer(), RandomForestRegressor())

## The Model - oooooooh!
### Predictors and Split Sets

In [32]:
# Predictors and subsetting using predictors
from sklearn.model_selection import cross_val_score

cols_to_keep = ['LotArea', 'YearBuilt', 'TotalBsmtSF', '1stFlrSF' , '2ndFlrSF', 
                'FullBath', 'BedroomAbvGr', 'TotRmsAbvGrd', 'GarageArea']

X = iowa[cols_to_keep]
y = iowa.SalePrice

X.head()

,LotArea,YearBuilt,TotalBsmtSF,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,TotRmsAbvGrd,GarageArea
0,8450,2003,856,856,854,2,3,8,548
1,9600,1976,1262,1262,0,2,3,6,460
2,11250,2001,920,920,866,2,3,6,608
3,9550,1915,756,961,756,1,3,7,642
4,14260,2000,1145,1145,1053,2,4,9,836

In [35]:
# Cross Validation

scores = cross_val_score(myPipeline, X, y, scoring = "neg_mean_absolute_error")
print(scores)
print("Cross Validation Error: %2f" %(scores.mean() * -1))

[-22535.2255989  -22633.75790554 -25356.11124829]
Cross Validation Error: 23508.364918

In [36]:
# Split data into training and validation set
iowa_X_tr, iowa_X_val, iowa_y_tr, iowa_y_val = train_test_split(X, y, random_state = 0)

In [37]:
myPipeline.fit(iowa_X_tr, iowa_y_tr)
iowa_preds = myPipeline.predict(iowa_X_val)

print("Train Split Error: %d" %(mean_absolute_error(iowa_y_val, iowa_preds)))

Train Split Error: 24410